h1.headline {
  margin-bottom: 2rem;
}

div.jumbotron {
  text-align: center;
  color: white;
  background-color: #29648A;
  /*background-color:  #25274D;*/
  /*background-color: #464866;*/
}

audio {
  border-radius: 4px;
}

.btn.btn-primary {
  margin: 0 10px;
  background-color: #AAABB8;
  color: white;
  border: 0;
}

.btn.btn-primary:hover {
  margin: 0 10px;
  background-color: #464866;
  color: white;
}

.App {
  text-align: center;
  background-color: #2E9CCA;
  height: 1000px;
}

#record {
  animation: pulse-record 1.5s infinite;
  background-color: #ca382e;
}

#record:disabled {
  opacity: 1;
  background-color: #ca382e;
}

#stop:disabled {
  opacity: 1;
  background-color: #AAABB8;

}

@keyframes pulse-record {
  0% {
    box-shadow: 0 0 0 0 rgba(202, 56, 46, 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(202, 56, 46, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(202, 56, 46, 0);
  }
}

#mute {
  background-color: #ca862e;
}
